/* 스케줄 조건 */
.infodiv {
    padding: 2em;
    font-size: large;
    display: flex;
    justify-content: center;
}
    .infodiv div {
        margin : 0.5em;
    }
    .infodiv input {
        margin : 1em;
        width : 30%;
    }

/* 스케줄 확인 버튼 */
.schedulebtndiv {
    display: flex;
    justify-content: flex-end;
    margin-right : 3em;
}
    .schedulebtndiv button {
        margin : 0.5em;
    }
    .schedulebtn {
        position: relative;
        border: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 15px;
        background-color: blueviolet;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 400;
        transition: 0.25s;
    }
        .schedulebtn:hover {
            background-color: rgb(169, 112, 223);
        }


/* 스케줄 */
.schedule {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worker-schedule {
    display: flex;
    justify-content: center;
    margin: 1em;
    text-align: center;
}
    .worker-schedule .working-day {
        display: inline;
        margin: 5px;
        padding : 1px;
        border : 1px solid black;
    }
    .worker-schedule .off-day {
        display: inline;
        margin: 5px;
        padding : 1px;
        border : 1px solid black;
        color : red;
    }