.infodiv {
    padding: 2em;
    font-size: large;
    display: flex;
    justify-content: center;
}
    .infodiv div {
        margin : 0.5em;
    }
    .infodiv input {
        margin : 1em;
        width : 10%;
    }

/* 스케쥴 */
.schedule {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worker-schedule {
    display: flex;
    justify-content: center;
    margin: 1em;
    text-align: center;
}
    .worker-schedule .working-day {
        display: inline;
        margin: 5px;
        padding : 1px;
        border : 1px solid black;
    }
    .worker-schedule .off-day {
        display: inline;
        margin: 5px;
        padding : 1px;
        border : 1px solid black;
        color : red;
    }